{# templates/registration/register.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block body %}
    <br/>

    <p>Numéro de Licence : {{ app.user.username }}</p>    
    <p>Nom : {{ app.user.nom }}</p>
    <p>Prénom : {{ app.user.prenom }}</p>
    <p>Date de naissance : {{ app.user.dateNaissance }}</p>
    <p>E-mail : {{ app.user.email }}</p>
    <button class="" type="button">Modidier</button>
{% endblock %}
